
:host{
  border: 5px solid orange;
  flex: auto;
  flex-direction: column;
  overflow: hidden;
  display: flex;
}

.list-container{
  flex:1;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
