
:host {
  border: 0px solid black;
  box-sizing: border-box;
  display: flex;
}

.bar{
  display: flex;
  flex: 1;
  border-bottom: 1px solid black;
  flex-direction: row;
  justify-content: left;
  padding-left: 8px;


}
