
:host {
  border: 0px solid black;
  display: flex;
  flex: auto;
  flex-flow: column;
  position: relative;
  height: 100%;
  overflow: hidden;
  min-width: 200px;

  /*

  .title{
   min-height: 60px;
  }
  .tabs{
    min-height: 36px;
  }
  .test-content{
    max-height: 0px;
    border: 3px solid orange;
  }

  .bar {
    border: 1px solid gray;
    display: flex;
    .bar-item{
      padding-left: 4px;
      padding-right: 4px;
    }
    .link{
      text-decoration: underline;
      cursor: pointer;
    }
    .selected{
      font-weight: bold;
    }
  }

  .content-scroll {
    display: flex;
    flex-flow: column;
    flex: auto;
    border: 2px solid darkblue;
    .content {
      border: 1px solid red;
      flex: 1;
      display: grid;
      grid-template-rows: 1fr;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
      .section{
        overflow: auto;
        min-width: 200px;
      }
    }
  }*/
}
